{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 Chrome version",
            "last 3 Firefox version",
            "last 3 Edge version",
            "last 3 Safari version",
            "last 3 Opera version"
          ]
        }
      }
    ]
  ]
}
